################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quickstart/.vs
/Debug/*.*
/debug/*.*
/bin/*.*
.dll
.debug
.pdb
.txt
obj
Object
*.cache