################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quickstart/.vs
Debug
.pdb
.dll
bin
/quickstart/src/MVCApp/obj
